body {
    background-color: rgb(27, 43, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: "Roboto";
    src: url(robotovariablefont_wght.ttf) format('truetype');
}

@font-face {
    font-family: "Merriweather";
    src: url(merriweathervariable.ttf) format('truetype');
}

h1 {
    font-family: "Merriweather", Georgia, Arial, sans-serif;
    color: whitesmoke;
    
    text-align: center;
    font-size: 80px;
    font-weight: 600;
    padding: 10px;
    margin: 0 0 0 0;
}

h2 {
    font-family: "Merriweather", Georgia, Arial, sans-serif;
    text-align: left;
    font-size: 64px;
    font-weight: 600;
    padding: 10px;
    margin: 0 0 0 0;
}

h3 {
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    margin: 0 0 0 0;
}

h4 {
    font-size: 36px;
    font-weight: 600;
}

a {
    color: rgb(244, 249, 249);
}

#main_scene {
    background-color: aliceblue;
    color: rgb(27, 43, 59);
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    
}

#ai_usage_pie {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#ai_usage_pie div {
    flex: 1
}

#ai_usage_pie svg {
    flex: 1
}

#main_charts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main_charts div {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(27, 43, 59);
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    flex: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#main_charts div:hover {
    flex-grow: 4;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 128, 255);
    font-size: 52px;
}

#main_charts h3, #main_charts h4 {
    text-align: center;
}

p {
    font-size: 16px;
}

button {
    background-color: azure;
    font-size: 36px;
    padding: 15px;
    border-radius: 5px;
    color: rgb(27, 43, 59);
    border-color: rgb(27, 43, 59);
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: rgb(75, 116, 143);
    border-radius: 8px;
    color: azure;
    box-shadow: 0 4px 8px 0 rgba(8, 10, 16, 0.6);
}

#tooltip {
    font-size: 24px;
    color: #b1bdd4;
    margin-top: 10px;
}

#second_h3 {
    color: #65C3F6;
    margin-top: 10px;
}

#buttons {
    display: inline;
}

#pie_key {
    max-width: 200px;
    margin-left: -20px;
}

#pie_key p {
    font-size: 18px;
    text-align: left;
    max-width: 200px;
}

#citation {
    color: azure;
}

#bar_svg {
    padding: 10px;
    margin-left: 50px;
}

svg {
    padding-left: 25px;
}

#bar_chart_box {
    display: flex;
    flex-direction: row;
}

#bar_chart_buttons_box {
    display: flex;
    flex-direction: column;
}

.short_button {
    max-width: 400px;
    background-color: #39B2F3;
    color: aliceblue;
}